<div class="row bg-white padding-header">
  <div class="col-12">
    <div class="row">
      <div class="col-5"><img class="logo" src="../../assets/img/logo.png"></div>
      <div class="col-4 padding-right-zero padding-drop">
        <div class="grupo-economico float-left">Grupo Econômico:</div>
        <div class="dropdown">
          <button class="btn dropdown-toggle dropdown-style drop-grupo-economico" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Selecione o filtro<i class="fas fa-angle-double-down ic-drop ic-drop-economico"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Visão Agregada 1</button>
            <button class="dropdown-item" type="button">Visão Agregada 2</button>
            <button class="dropdown-item" type="button">Visão Agregada 3</button>
          </div>
        </div>
      </div>
      <div class="col-3 father-login padding-left-zero">
        <div class="container">
          <div class="row float-right">
            <div class="login text-center">
              <div class="float-right">
                <i class="far fa-user ic-user"></i>Sandra Oliveira <i class="fas fa-angle-double-down ic-drop ic-drop-login"></i>
              </div>
            </div>
            <div class="father-alerta item">
              <div class="alerta text-center">
                <i class="far fa-bell ic-alerta"></i>
                <div class="alerta-qtd">3</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
