<section class="bg-gray">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-2 base-menu">
            <app-menu></app-menu>
          </div>
          <div class="col-md-10">
            <app-header></app-header>
            <div class="container">
              <div class="row">
                  <div class="col-12 padding-zero">
                    <app-main></app-main>
                  </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>
